/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --theme-font: 'Source Code Pro', 'Courier New', Courier, monospace;
    --theme-color: rgb(30, 221, 255);
}

body {
    font-family: var(--theme-font);
}

*:focus-visible {
    outline: 3px double var(--theme-color);
    outline-offset: 2px;
}

::selection {
    color: color-mix(in srgb, var(--theme-color), white 10%);
    background: color-mix(in srgb, var(--theme-color), black 60%);
}

.center {
    width: 80%;
    margin: 0 10%;
}

.center-text {
    text-align: center;
}

.page-style {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    min-height: calc(100% - 6rem) !important;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            transparent 0%,
            var(--theme-color) min(7%, 80px),
            var(--theme-color) calc(100% - min(7%, 80px)),
            transparent 100%
        )
        1 100%;
}

p {
    font-size: 1rem;
    font-weight: 350;
}

h1 {
    font-size: 2.8rem;
    font-weight: 640;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 720;
}

hr {
    width: 200px;
    height: 1px;
    border: none;
    margin: 1.17rem auto;
    background: linear-gradient(
        to right,
        transparent 0%,
        var(--theme-color) 45%,
        var(--theme-color) 55%,
        transparent 100%
    );
}

button {
    margin: 4px;
    padding: 8px;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid color-mix(in srgb, var(--theme-color), transparent 25%);
    background-color: color-mix(in srgb, var(--theme-color), transparent 82%);
    transition: background-color 200ms ease-out;
}

button:hover {
    background-color: color-mix(in srgb, var(--theme-color), transparent 75%);
}

button.select {
    position: relative;
    width: 100%;
    margin: 4px 0;
}

button.select::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 45%;
    right: 1rem;
    border-top: 0.45rem solid var(--theme-color);
    border-right: 0.45rem solid transparent;
    border-left: 0.45rem solid transparent;
}

input[type='range'] {
    height: 31px;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: color-mix(in srgb, var(--theme-color), black 85%);
    border-radius: 0px;
    border: 1px solid color-mix(in srgb, var(--theme-color), black 50%);
}

input[type='range']::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 24px;
    width: 20px;
    border-radius: 0px;
    background: var(--theme-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: color-mix(in srgb, var(--theme-color), black 85%);
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: color-mix(in srgb, var(--theme-color), black 85%);
    border-radius: 0px;
    border: 1px solid color-mix(in srgb, var(--theme-color), black 50%);
}

input[type='range']::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 24px;
    width: 20px;
    border-radius: 0px;
    background: var(--theme-color);
    cursor: pointer;
}

input[type='range']::-ms-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type='range']::-ms-fill-lower {
    background: color-mix(in srgb, var(--theme-color), black 85%);
    border: 1px solid color-mix(in srgb, var(--theme-color), black 50%);
    border-radius: 0px;
    box-shadow: none;
}

input[type='range']::-ms-fill-upper {
    background: color-mix(in srgb, var(--theme-color), black 85%);
    border: 1px solid color-mix(in srgb, var(--theme-color), black 50%);
    border-radius: 0px;
    box-shadow: none;
}

input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: none;
    border: none;
    height: 24px;
    width: 20px;
    border-radius: 0px;
    background: var(--theme-color);
    cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
    background: color-mix(in srgb, var(--theme-color), black 85%);
}

input[type='range']:focus::-ms-fill-upper {
    background: color-mix(in srgb, var(--theme-color), black 85%);
}

select[size] {
    --option-padding: 0.5rem;
    --inside-padding: 0.2rem;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    appearance: none;
    outline: none;
    pointer-events: none;
    overflow: visible;
    width: 100%;
    opacity: 0%;
    transition: opacity 117ms ease-in;
    background-color: color-mix(in srgb, var(--theme-color), black 70%);
    border: 1px solid color-mix(in srgb, var(--theme-color), transparent 25%);
    border-radius: 0;
    box-shadow: 0 0 7px color-mix(in srgb, var(--theme-color), transparent 50%);
}

select[size].expanded {
    pointer-events: all !important;
    opacity: 100%;
}

select[size] option {
    position: relative;
    appearance: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: var(--option-padding) 1rem;
}

select[size] option:nth-child(n + 2) {
    border-top: 1px solid color-mix(in srgb, var(--theme-color), black 30%);
}

select[size] option:nth-child(1) {
    padding-top: 0.7rem;
}

select[size] option:checked {
    --bg-color: color-mix(in srgb, var(--theme-color), black 55%);
    background: linear-gradient(var(--bg-color), var(--bg-color)) !important;
}

select[size] option:hover {
    transition: background 117ms ease; /* Because of weirdness, only animate when hovering. Clicking causes browser style flashing */
    background-color: color-mix(in srgb, var(--theme-color), black 65%);
}

a {
    color: var(--theme-color);
    text-decoration: none;
    transition:
        color 80ms linear,
        border-color 80ms linear;
    border-bottom: 1px solid transparent;
}

div.clickable:hover {
    cursor: pointer;
}

a:focus,
a:hover,
div.clickable:focus a,
div.clickable:hover a {
    --lighter: color-mix(in srgb, var(--theme-color), white 15%);
    color: var(--lighter);
    border-bottom-color: var(--lighter);
}

div.flex-container {
    display: flex;
    flex-wrap: wrap;
}

div.flex-column {
    flex-direction: column;
    flex-wrap: nowrap;
}

div.flex-main {
    flex-basis: 90%;
    /* center back on page */
    padding-right: 10%;
}

div.flex-aside {
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    /* Stick to page */
    height: calc(100vh - 10rem - 2px);
    position: sticky;
    top: calc(5rem + 1px);
}

div.flex-break-row {
    flex-basis: 100%;
    height: 0 !important;
    margin: 0 !important;
}

div.flex-canvas,
div.flex-canvas-aside {
    height: initial !important;
    margin: 0 !important;
}

div.flex-canvas {
    aspect-ratio: 1/1;
    background-color: color-mix(in srgb, var(--theme-color), transparent 96%);
}

div.flex-canvas-aside {
    min-height: 100%;
    border-left: 1px solid color-mix(in srgb, var(--theme-color), transparent 75%);
    background: color-mix(in srgb, var(--theme-color), transparent 92%);
}

div.flex-center {
    justify-content: center;
}

div.flex-center.flex-column {
    align-items: center;
}

div.flex-controls {
    width: 80%;
    margin: 1rem auto;
}

div.flex-controls > button {
    font-size: 1.17em;

    flex-grow: 1;
    flex-basis: 20%;
    height: 4rem;
    margin: 8px;
}

div.flex-controls div {
    height: 4rem;
}

div.flex-controls > div {
    font-size: 1.17em;
    margin: 8px;
}

div.flex-controls > button.load-button {
    flex-grow: 0;
    flex-basis: auto;
    padding-left: 24px;
    padding-right: 24px;
}

div.grid-box {
    display: grid;
    gap: 32px;
    grid-template-columns: auto auto auto;
}

div.grid-box > div {
    padding: 1.8rem;
}

div.grid-box h3 {
    margin: 0;
}

div.glow-responsive {
    box-shadow: 0 0 0px rgba(0, 255, 255, 0);
    background:
        radial-gradient(ellipse 29% 100% at left -25% bottom 32%, var(--theme-color), transparent) padding-box,
        radial-gradient(ellipse 29% 100% at right -25% bottom 32%, var(--theme-color), transparent)
            padding-box,
        radial-gradient(ellipse 100% 31% at left 50% bottom -25%, var(--theme-color), black) padding-box;
    background-size: 108% 106%;
    background-position: 50% 0%;
    transition:
        background-size 80ms ease-out,
        box-shadow 80ms ease-out;
}

div.glow-responsive:focus,
div.glow-responsive:hover {
    box-shadow: 0 0 7px color-mix(in srgb, var(--theme-color), transparent 75%);
    background-size: 100% 100%;
}

div.border-responsive {
    --borderResponsiveWidth: 1px;
    position: relative;
    background-clip: padding-box;
    border: solid var(--borderResponsiveWidth) transparent;
    border-radius: 13px;
}

div.border-responsive::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin: calc(0px - var(--borderResponsiveWidth));
    border-radius: inherit;
    background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--theme-color), transparent 60%) 0%,
        color-mix(in srgb, var(--theme-color), transparent 60%) 39%,
        var(--theme-color) 50%
    );
    background-size: 1px 200%;
    transition: background 80ms ease-out;
}

div.border-responsive:focus::before,
div.border-responsive:hover::before {
    background-position-y: 80%;
}

img.logo {
    margin: 8px;
}

p.moz-only {
    display: none;
}

@-moz-document url-prefix() {
    p.moz-only {
        display: block !important;
    }
}

span.pop {
    color: black;
    font-size: 1.17rem;
    font-style: italic;
    font-weight: 700;
    padding: 0.1rem 0.6rem;
    background-color: color-mix(in srgb, var(--theme-color), black 25%);
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
}

ul.list-blocks > li {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            transparent 0%,
            var(--theme-color) min(7%, 80px),
            var(--theme-color) calc(100% - min(7%, 80px)),
            transparent 100%
        )
        1;
}

.collapse-active {
    border-bottom-color: color-mix(in srgb, var(--theme-color), transparent 50%);
    transition:
        border-bottom-color 100ms ease,
        background-color 200ms;
}

.collapse-active::before,
.collapse-active::after {
    content: '\02796' !important;
}

.collapse-button {
    width: 100%;
    border: none;
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    /* Change transition time to be slower during collapse, faster when opened */
    transition:
        border-bottom-color 500ms ease,
        background-color 200ms ease-out;
}

.collapse-button::before,
.collapse-button::after {
    content: '\02795';
    flex: content;
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out;
}

.flex-column-to-bottom {
    margin-top: auto;
}

.glow {
    box-shadow: 0 0 7px color-mix(in srgb, var(--theme-color), transparent 50%);
}

.glow-bright {
    box-shadow: 0 0 7px color-mix(in srgb, var(--theme-color), transparent 20%);
    transition: box-shadow 200ms ease-out;
}

.glow-bright:hover {
    box-shadow: 0 0 11px var(--theme-color);
}

.m-0 {
    margin: 0;
}

.source-code-container {
    width: 60%;
    margin: 0 20%;
    border: 1px solid color-mix(in srgb, var(--theme-color), transparent 50%);
}

.source-code-container > button {
    margin: 0 !important;
}

.text-glow {
    text-shadow: 0 0 2px;
}

.text-glow-responsive {
    text-shadow: 0 0 2px;
    transition: text-shadow 1.5s ease-out;
}

.text-glow-responsive:focus,
.text-glow-responsive:hover {
    text-shadow: 0 0 4px;
}
